<table>
  <tr>
    <td *ngFor="let last of lastTicket" valign="middle" class="ticket-actual">
      <h2>Cliente🧍‍♂️ acercarse al módulo🧑‍💻</h2>
      <br />
      <span class="ticket-actual-numero"> Ticket #{{ last?.numero }} </span>
      <br />
      <span class="ticket-actual-escritorio">
        Escritorio: {{ last?.escritorio }}
      </span>
    </td>
    <td>
      <table>
        <h3 style="margin-top: 30px">Atendiendo 🔽</h3>
        <tr *ngFor="let item of lastThreeTickets">
          <td>
            <span class="ticket-secundario"> Ticket #{{ item?.numero }} </span>
            <br />
            <span>Escritorio: {{ item?.escritorio }}</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
