<h1>Programa de Colas</h1>
<hr />

<div class="row">
  <div class="col-6">
    <h4>Opciones</h4>
    <ul class="list-group">
      <a class="list-group-item list-group-item-action" routerLink="/publico">
        Pantalla pública
      </a>
      <a
        class="list-group-item list-group-item-action"
        routerLink="/nuevo-ticket"
      >
        Crear Tickets
      </a>
    </ul>
  </div>

  <div class="col-6">
    <h4>Configurar escritorio</h4>

    <!-- (keyup.enter)="entrar(txtEscritorio.value)" -->
    <form (ngSubmit)="entrar()">
      <input
        [(ngModel)]="txtEscritorio"
        autofocus
        class="form-control"
        min="0"
        name="escritorio"
        placeholder="Escritorio"
        required
        type="number"
      />

      <br />
      <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
    </form>
  </div>
</div>
